/ExportPDF/bin/
/ExportPDF/obj/
/.idea/
/ImageCompress/bin/
/ImageCompress/obj/
/PDF_Creator/bin/
/PDF_Creator/obj/
/BilibiliSpider/bin/
/BilibiliSpider/obj/
/AcrylicWindow/bin/
/AcrylicWindow/obj/
/AcrylicWindow/AcrylicWindow.csproj/
